@charset "utf-8";

	@media (min-width: 1100px) {

	header {width:100%; height:80px; background-color: #02001b; margin:0 auto; border-bottom:1px solid #666; position:fixed; z-index: 100;}
	header > #logo {width:200px; height:43px; margin:20px 0 0 30px; float:left;}
	header > #logo > a > img {width:100%; height:100%;}

	header > #nav > nav {width:550px; height:25px; background-color: transparent; float:right; margin:0 20px 10px 0px; position:absolute; top:58%; left:50%; transform:translate(-50%, -50%);}
	header > #nav > nav > ul > li {float:left;}
	header > #nav > nav > ul > li > a {margin:0 20px; font-size:17px; color:#fff; font-weight: 500; transition: all 300ms ease;}
	header > #nav > nav > ul > li > a:hover {color: #ab8d69;}

	header > #head_button {float:right; width:250px; height:40px; margin:21px 0;}
	header > #head_button > input[type="submit"] {background-color: transparent; width:180px; height:40px; cursor: pointer; border:1px solid #eee; font-size: 15px; letter-spacing: 1px; color:#fff; transition: all 300ms ease;}
	header > #head_button > input[type="submit"]:hover {background-color: #ab8d69; border:none;}

	header > .menu {width:58px; height:49px; float:right; display: none;}
	header > .menu > .img {width:100%; height:100%;}


	footer {width:100%; height:300px; background-color:#02001b; margin:0 auto; float:left; position: absolute; display: flex; align-items: center; justify-content: center;}
	
	footer > .left {width:50%; height:100%; background-color: transparent; margin:0 auto; float:left; position:relative; border-right: 1px solid #111;}
	footer > .left > .text > h3 {margin-bottom: 19px; color: #ab8d69; font-size: 16px; font-weight: 400; letter-spacing: 1px; padding:40px 0 0 30px; background-color: transparent; display: flex; flex-wrap: wrap; justify-content: flex-end; margin-right: 530px;}
	footer > .left > .table > table {padding:10px 0; display: flex; flex-wrap: wrap; justify-content: flex-end;}
	footer > .left > .table > table td {font-size: 13px; padding:10px 30px; color:#fff;}



	footer > .center {width:20%; height:100%; background-color: transparent; margin:0 auto; float: left; position: relative; border-right: 1px solid #111;}
	footer > .center > .text > h3 {margin-bottom: 19px; color: #ab8d69; font-size: 16px; font-weight: 400; letter-spacing: 1px; padding:40px 0 0 30px;}
	footer > .center > .table > table {padding:10px 0; display: flex; flex-wrap: wrap; justify-content: flex-start;}
	footer > .center > .table > table td {font-size: 13px; padding:10px 30px; color:#fff;}
	


	footer > .right{width:30%; height:100%; background-color: transparent; margin:0 auto; float: right; position: relative;}
	footer > .right > .logo_img {width:91px; height:50px; margin:30px; display: flex; justify-content: flex-start;}
	footer > .right > .logo_img > a > img {width:100%; height:100%;}
	footer > .right > p {font-size: 14px; margin:0 30px;}
	footer > .right > p a {text-decoration: none; color:#ddd;}
	.sns {display: flex; flex-direction: row; justify-content: space-around; width:180px; height:30px; margin:20px;} 
	.sns > a > img {width:100%; height:100%; margin:20px; padding:0 20px;}

}